<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Adicionar"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedPeople()"
        [disabled]="!selectedPeople || !selectedPeople.length"
      ></button>
    </ng-template>

    <!-- <ng-template pTemplate="right">
      <p-fileUpload
        mode="basic"
        accept="image/*"
        [maxFileSize]="1000000"
        label="Importar"
        chooseLabel="Importar"
        class="p-mr-2 p-d-inline-block"
      ></p-fileUpload>
      <button
        pButton
        pRipple
        label="Exportar"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template> -->
  </p-toolbar>

  <p-table
    #dt
    [value]="people"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [(selection)]="selectedPeople"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} pessoas"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Gerenciar pessoas</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="born">
          Nascimento <p-sortIcon field="born"></p-sortIcon>
        </th>
        <th pSortableColumn="gender">
          Sexo <p-sortIcon field="gender"></p-sortIcon>
        </th>
        <th pSortableColumn="height">
          Altura <p-sortIcon field="height"></p-sortIcon>
        </th>
        <th pSortableColumn="weight">
          Peso <p-sortIcon field="weight"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">
          Fone <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="note">
          Nota <p-sortIcon field="note"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr>
        <td>
          <p-tableCheckbox [value]="person"></p-tableCheckbox>
        </td>
        <td>{{ person.name }}</td>
        <td>{{ person.born }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.height }}</td>
        <td>{{ person.weight }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.note }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editPerson(person)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deletePerson(person)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Em um total de {{ people ? people.length : 0 }} pessoas.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Detalhes da pessoa"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Nome</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="person.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !person.name">
        O campo de nome é obrigatório.
      </small>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="born">Nascimento</label>
        <p-calendar [(ngModel)]="person.born"></p-calendar>
      </div>

      <div class="p-field p-col">
        <label for="gender">Gênero</label>
        <select [(ngModel)]="person.gender" required>
          <option value="" disabled selected>Selecione um...</option>
          <option value="Accessories">Feminino</option>
          <option value="Clothing">Masculino</option>
          <option value="Electronics">Outros</option>
        </select>
      </div>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="height">Altura</label>
        <p-inputNumber id="height" [(ngModel)]="person.height"></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="height">Peso</label>
        <p-inputNumber id="weight" [(ngModel)]="person.weight"></p-inputNumber>
      </div>
    </div>

    <!-- <div class="p-field">
      <label class="p-mb-3">Categoria</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category1"
            name="category"
            value="Accessories"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category1">Acessórios</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category2"
            name="category"
            value="Clothing"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category2">Vestuário</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category3"
            name="category"
            value="Electronics"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category3">Eletrônicos</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category4"
            name="category"
            value="Fitness"
            [(ngModel)]="product.category"
          ></p-radioButton>
          <label for="category4">Fitness</label>
        </div>
      </div>
    </div> -->

    <!-- <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Preço</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="product.price"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="quantity">Quantidade</label>
        <p-inputNumber
          id="quantity"
          [(ngModel)]="product.quantity"
        ></p-inputNumber>
      </div>
    </div>-->

    <div class="p-field">
      <label for="name">Telefone</label>
      <input
        type="text"
        pInputText
        id="phone"
        [(ngModel)]="person.phone"
        required
        autofocus
        pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}"
        placeholder="(99) 99999-9999"
      />
    </div>

    <div class="field">
      <label for="note">Observação</label>
      <textarea
        id="note"
        pInputTextarea
        [(ngModel)]="person.note"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-sign-out"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Salvar"
      icon="pi pi-save"
      class="p-button-text"
      (click)="savePerson()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
